<h1>DASHBOARD</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Education</td>
      <td> <%= link_to  "Open", educations_path, class:"btn btn-secondary"%> </td> 
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Skills</td>
      <td> <%= link_to  "Open", skills_path, class:"btn btn-secondary"%> </td>
    </tr>

    <tr>
      <th scope="row">3</th>
       <td>Certificates</td>
      <td> <%= link_to  "Open", certificates_path, class:"btn btn-secondary"%> </td> 
    </tr>

     <tr>
      <th scope="row">4</th>
       <td>Experience</td>
       <td><%= link_to  "Open", experiences_path , class:"btn btn-secondary"%></td>
      
    </tr>
  </tbody>
</table>

<br/>

