<h1> Edit experience </h1>
<%= render 'form', experience: @experience%>

<br/>
<br/>

<%= link_to 'Show', @experience, class:"btn btn-secondary"%> |
<%= link_to 'Back', experiences_path , class:"btn btn-secondary"%>