<h1> Edit certificate </h1>
<%= render 'form', certificate: @certificate%>

<br/>
<br/>

<%= link_to 'Show', @certificate, class:"btn btn-secondary"%> |
<%= link_to 'Back', certificates_path , class:"btn btn-secondary"%>