<h1> Edit Education </h1>
<%= render 'form', education: @education %>

<br/>
<br/>

<%= link_to 'Show', @education, class:"btn btn-secondary"%> |
<%= link_to 'Back', educations_path , class:"btn btn-secondary"%>